*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/pattern.jpg");
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.input-section{
    background-color: #4444441d;
    max-width: 500px;
    width: 80%;
    padding: 2rem;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid #8080802b;

    h1{
        text-align: center;
        color: white;
    }

    input{
        display: block;
        width: 100%;
        padding: 1rem;
        font-size: 18px;
        border: 0;
        outline: none;
        margin: 2rem 0;
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        
        &:focus{
            border: 0;
            outline: none;
        }
    }

    .button-section{
        display: flex;
        gap: 1rem;

        button{
            font-size: 18px;
            padding: 0.9rem;
            border: 0;
            flex-grow: 1;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }
    }
}